### Description: Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.

In [3]:
input_list=['SAS', 'R', 'PYTHON', 'SPSS']
input_list[3] ="SPARK"
print(input_list)

['SAS', 'R', 'PYTHON', 'SPARK']

### Description: Convert a string input_str = 'I love Data Science & Python' to a list by splitting it on ‘&’. The sample output for this string will be:

In [6]:
input_str = 'I love Data Science & Python'

result = input_str.split("&")
print(result)

['I love Data Science ', ' Python']

### Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’. The sample output of this string will be:

In [13]:
input_str = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear']

result = str(input_str)


print(result)

['Pythons syntax is easy to learn', 'Pythons syntax is very clear']

### Extract Python from a nested list

In [18]:
data = [['SAS','R'],['Tableau','SQL'],['Python','Java']]
res = []

for lst in data:
    if 'Python' in lst:
        val = lst
        for i in val:
            if i == 'Python':
                res.append(i)

                
print(res)

['Python']

### t = ("disco", 12, 4.5)

In [19]:
t = ("disco", 12, 4.5)
result = t[0][2]
print(result)

s

### Write a program to check whether a string is a palindrome or not. Print 1 if the string is a palindrome and 0 otherwise.

In [36]:
def plaindrome(string):
    lst = []
    for i in range(len(string)-1,-1,-1):
        val = string[i]
        lst.append(val)
        
    k= "".join(lst)
    
    if k == string:
        return 1
    else:
        return 0
    

string = "madam"
plaindrome(string)

1

### You will be given a sentence in the form of a string. You have to reverse the order of the words in the sentence. Remember not to reverse the individual words, but the order of words. Check the sample input-output for further clarification.

In [5]:
input_str = "I am data engineer"
input_str = input_str.split()
rev_str = input_str[::-1]
final_str = " ".join(rev_str)
print(final_str)

engineer data am I

### Description: Write a program that satisfies below examples

Input 1: caloRie ConsuMed

Output 1: calorie_consumed

In [8]:
input_str = "data science"

input_str = input_str.lower().split()

res = [word for word in input_str]
final = "_".join(res)
print(final)

data_science

## MCQ

### 1. How will you extract ‘love’ from the string S = “I love Python”? (More than one option may be correct.).

In [9]:
S = "I love Python"
res = S[2:6]
print(res)

love

### 2. What will the output of 3 * 3 ** 3 be?

In [10]:
res = 3*3**3
print(res)

81

### 3. What will the output be of ((500//7) % 5) ** 3?

In [11]:
res = ((500//7) % 5) ** 3
print(res)

1

### 4. If you have a tuple T = (3, 5, 7, 11), what will the output of T.append(9) be?

Option: d

### 6. What will the output of the following code be?

option: c

### 7. Which of the following statements is incorrect regarding sets in Python?

Option: c

### 8. What will the output be of the following code?
option: a

### 9. What will the ‘comprehension equivalent’ be for the following snippet of code?
option: d

### 10.What will be the output of this code?
option: d